@font-face {
	font-family: 'Gupter';
	font-style: normal;
	font-weight: 400;
	src: local('Gupter'),
		url(../assets/fonts/Gupter/Gupter-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Gupter';
	font-style: normal;
	font-weight: 500;
	src: local('Gupter'),
		url(../assets/fonts/Gupter/Gupter-Medium.ttf) format('truetype');
}

@font-face {
	font-family: 'Gupter';
	font-style: normal;
	font-weight: 700;
	src: local('Gupter'),
		url(../assets/fonts/Gupter/Gupter-Bold.ttf) format('truetype');
}
